@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), 'TT Interphases Pro', sans-serif;
}

.bg-turqoise-highlight {
  --tw-bg-opacity: 1;
  background-color: rgb(217 244 241/var(--tw-bg-opacity))
}

.text-granite {
  --tw-text-opacity: 1;
  color: rgb(122 122 122 / var(--tw-text-opacity));
}

.text-charcoal-gray {
  --tw-text-opacity: 1;
  color: rgb(78 78 78 / var(--tw-text-opacity));
}

.text-neutral-900 {
  --tw-text-opacity: 1;
  color: rgb(20 20 20 / var(--tw-text-opacity));
}